.content-container {
    margin-bottom: 6rem !important;
    margin-top: 6rem !important;
    padding-left: 2rem;
    padding-right: 2rem;
}

.dsp-content-container {
    margin-top: 4rem !important;
}

.theory-content-card {
    overflow-y: scroll;
    max-height: 72vh;
}

.custom-font-family {
    font-family: dancing-font;
}

@font-face {
    font-family: 'dancing-font';
    src: url('~@/assets/fonts/DancingScript-Regular.ttf') format('truetype');
}